input,
button,
select,
html {
    font-family: monospace;
    width: 100%;
    box-sizing: border-box;
}

#table>tbody>tr>td {
    width: 16px;
    font-family: monospace;
    user-select: none;
}

tr {
    height: 16px;
}

.register {
    border: 1px solid black;
    text-align: right;
}

.bit-off {
    background: green;
}

.bit-on {
    background: lime;
}

#store.bit-off {
    background: darkred;
}

#store.bit-on {
    background: red;
}

/* #editor { 
    height: 200px;
    width: 640px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
} */